body {
    min-height: 100%;
    min-width: 980px;
    margin: 0px;
}

#center {
    text-align: center;
}

#logo {
    padding-top: 201px;
    margin-left: 125px;
}

img#apps {
    width: 30px;
    height: 30px;
    opacity: 0.55;
}

img#apps:hover {
    opacity: 1;
    cursor: pointer;
}

ul {
    font-family: arial, sans-serif;
    font-size: 13px;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}

li.left {
    float: left;
    margin-left: 15px;
    margin-top: 7px;
}

li.right {
    float: right;
    margin-right: 15px;
    margin-top: 7px;
}

a {
    color: #000000;
    opacity: 0.75;
    text-decoration-line: none;
    line-height: 28px;
}

#signin {
    opacity: 1;
    background: #4285f4;
    color: #fff;
    padding: 8px 12px 8px 12px;
    font-weight: bold;
    border-radius: 2px;
}

.bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #f2f2f2;
}