body {
    min-height: 100%;
    min-width: 1139px;
}

#center {
    text-align: center;
}

#logo {
    padding-top: 201px;
}

img#apps {
    width: 30px;
    height: 30px;
    opacity: 0.55;
}

img#apps:hover {
    opacity: 1;
}

ul {
    font-family: arial, sans-serif;
    font-size: 13px;
    list-style-type: none;
}

li.left {
    float: left;
}

li.right {
    float: right;
}

a {
    color: #000000
    opacity: 0.75;
}